{% extends "users/base_template.html" %}
{% load crispy_forms_tags %}
{% block base %}
    <div class="container my-5">
        <h5>Fill in the fields to join!</h5>
      <form method="POST" source="custom" name="form" redirect="true" class="needs-validation " novalidate>
        {% csrf_token %}
          {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
    <div class="container pb-3 bg-light">
    <a href="{% url 'login' %}" class=""><button type="button" class="btn btn-link text-body">Have you an account? Sign In </button></a>
    </div>

{% endblock %}



